# Process Data from 2019 into a consistent format. 

> This notebook brings the 2019 into alignment with the desired format with respect to field name, type, and grouping.

In [ ]:
# Imports ----
import re
import numpy as np 
import pandas as pd
pd.set_option('display.max_columns', None)
import pickle

In [ ]:
from g2fd.internal import *

In [ ]:
#| default_exp internal

In [ ]:
# 2019
year_string = '2019'

meta_path = './data/raw/GenomesToFields_data_2019/z._2019_supplemental_info/g2f_2019_field_metadata.csv'
phno_path = './data/raw/GenomesToFields_data_2019/a._2019_phenotypic_data/g2f_2019_phenotypic_clean_data.csv'
wthr_path = './data/raw/GenomesToFields_data_2019/b._2019_weather_data/2019_weather_cleaned.csv'
soil_path = './data/raw/GenomesToFields_data_2019/c._2019_soil_data/g2f_2019_soil_data.csv'
mgmt_path = './data/raw/GenomesToFields_data_2019/z._2019_supplemental_info/g2f_2019_agronomic_information.csv'

meta = pd.read_csv(meta_path, encoding = "ISO-8859-1", low_memory=False)
phno = pd.read_csv(phno_path, encoding = "ISO-8859-1", low_memory=False)
wthr = pd.read_csv(wthr_path, encoding = "ISO-8859-1", low_memory=False)
soil = pd.read_csv(soil_path, encoding = "ISO-8859-1", low_memory=False)
mgmt = pd.read_csv(mgmt_path, encoding = "ISO-8859-1", low_memory=False)

In [ ]:
# load dicts for column renaming
meta_name_dict = mk_name_dict(name = 'meta')
phno_name_dict = mk_name_dict(name = 'phno')
soil_name_dict = mk_name_dict(name = 'soil')
wthr_name_dict = mk_name_dict(name = 'wthr')
mgmt_name_dict = mk_name_dict(name = 'mgmt')

# Rename
**Naming rules:**
- One dict for each input df
- Comment out anything that shouldn't be changed
- Upper_Upper_Unit_\$unit
- Upper_$number
- No special characters

In [ ]:
(find_unrecognized_columns(df = meta, dct = meta_name_dict),
find_unrecognized_columns(df = phno, dct = phno_name_dict),
find_unrecognized_columns(df = soil, dct = soil_name_dict),
find_unrecognized_columns(df = wthr, dct = wthr_name_dict),
find_unrecognized_columns(df = mgmt, dct = mgmt_name_dict))

([], [], [], [], [])

In [ ]:
meta = meta.rename(columns=meta_name_dict)
phno = phno.rename(columns=phno_name_dict)
soil = soil.rename(columns=soil_name_dict)
wthr = wthr.rename(columns=wthr_name_dict)
mgmt = mgmt.rename(columns=mgmt_name_dict)

# add indicator columns to help with debugging merge
meta['meta'] = True
phno['phno'] = True
soil['soil'] = True
wthr['wthr'] = True
mgmt['mgmt'] = True

In [ ]:
[e.shape for e in [meta, phno, soil, wthr, mgmt]]

[(29, 55), (20952, 45), (25, 30), (232437, 24), (92, 7)]

# Sanatize ID columns as needed

In [ ]:
# soil = sanitize_Experiment_Codes(
#     df = soil, 
#     simple_renames = {
#         'W1H1': 'WIH1', 
#         'W1H2': 'WIH2', 
#         'W1H3': 'WIH3'
#     }, 
#     split_renames = {
#         'NEH2_NEH3': ['NEH2', 'NEH3']
#     })

# wthr = sanitize_Experiment_Codes(
#     df = wthr, 
#     simple_renames = {
#     }, 
#     split_renames = {
#         'NEH2_NEH3': ['NEH2', 'NEH3'],
#         'NYH3_NYS1': ['NYS1', 'NYH3'],
#         'TXH1_TXH3': ['TXH1', 'TXH3']
#     })

In [ ]:
# confirm everything's okay
print(
  'meta', find_unrecognized_experiments(meta.Experiment_Code, return_all_exps=False), 
'\nphno', find_unrecognized_experiments(phno.Experiment_Code, return_all_exps=False),
'\nsoil', find_unrecognized_experiments(soil.Experiment_Code, return_all_exps=False),
'\nwthr', find_unrecognized_experiments(wthr.Experiment_Code, return_all_exps=False),
'\nmgmt', find_unrecognized_experiments(mgmt.Experiment_Code, return_all_exps=False),
'\nall ', find_unrecognized_experiments([], return_all_exps=True)
)

meta []
phno []
soil []
wthr []
mgmt []
all  ['COH1', 'DEH1', 'GAH1', 'GAH2', 'GEH1', 'GEH2', 'IAH1', 'IAH2', 'IAH2 ', 'IAH3', 'IAH3 ', 'IAH4', 'IAH4 ', 'ILH1', 'INH1', 'MIH1', 'MNH1', 'MOH1', 'MOH1 ', 'NCH1', 'NEH1', 'NEH2', 'NEH3', 'NYH1', 'NYH1', 'NYH2', 'NYH3', 'NYS1', 'OHH1', 'ONH2', 'SCH1', 'TXH1', 'TXH2', 'TXH3', 'TXH4', 'W1H1', 'W1H2', 'WIH1', 'WIH2', 'WIH3']

In [ ]:
# # Find minimum cols needed to index all rows
# df = phno
# id_cols = ['Year', 'Experiment_Code', 'Range', 'Pass', 'Plot',]
# candidate_cols = ['State', 'City',
#                  'Experiment', 'Source', 'Pedigree', 'Family', 'Tester', 'Replicate',
#                   'Block',  'Plot_ID']
# target = df.shape[0]

# output = pd.DataFrame(zip(
#     candidate_cols,
#     [df.loc[:, id_cols+[e]].drop_duplicates().shape[0] for e in candidate_cols]
#    ), columns=['Additional_ID', 'Uniq_Vals'])

# output.assign(At_Target=lambda x:x.Uniq_Vals == target)

# Rearrange columns

In [ ]:
# separate static and dynamic values
sval = phno.merge(soil, how = 'outer')
sval = sval.merge(meta, how = 'outer') # This introduces 3 sites that have no data
# sval.shape # used to confirm nrow = #20574 + 3

# these tables are different enought we'll keep them separate
# mgmt
# unfortunately we need multiples because at least one field treats different passes differently
mgmt = phno.loc[:, ['Year', 'Experiment_Code', 'Range', 'Pass', 'Plot', 'phno']
               ].drop_duplicates().merge(mgmt, how = 'outer')
# confirm there are no rows in mgmt that are not in phno
temp = mgmt.loc[(~mgmt.phno & mgmt.mgmt), :]
if 0 != temp.shape[0]:
    print(temp)
else:
    mgmt = mgmt.loc[mgmt.mgmt.notna(), :].drop(columns = 'phno')


# wthr
# There's only ever one weather station so we have to worry about imputation but not duplicates

In [ ]:
# Set each id col to a string
for i in ['Year', 'Experiment_Code', 'Range', 'Pass', 'Plot']:
    sval[i] = sval[i].astype('string')
    mgmt[i]  =  mgmt[i].astype('string')
    
    if i not in ['Range', 'Pass', 'Plot']:
        wthr[i]  =  wthr[i].astype('string')

# Sanitize Non-ID columns

## Sanitization functions

The pattern to use is:
 1. Alter the dataframe
 1. Test the dataframe against expectations
 
The main tasks that need to be completed are:
 1. Identify values that can't be converted to the expected data type. The "find_unconvertable_" family of functions should be used. 
     1. `find_unconvertable_datetimes`
     
 1. For simple renaming (e.g. misspellings) or splitting non-tidy data into two rows ("entry1-entry2" -> "entry1", "entry2") use `sanitize_col` 
 1. Move values that are ambigous but pertain to data imputation to "Imputation_Notes" using `relocate_to_Imputation_Notes`
 1. If new columns need to be added (e.g. mgmt.Ingredient for parsed components of Product (e.g. elements) ) this should be accomplished with `safe_create_col`.
 1. Any one off changes should be accomplised manually. 
 1. Confirm columns match the expected types with `check_df_dtype_expectations`, and report mismatches. 


These steps should be completed for each dataframe in turn to minimize the cognitive load of the reader.

## Sanitization: Column data type expectations
Note: to handle missing values some columns that would otherwise be ints are floats

In [ ]:
sval_col_dtypes = mk_dtype_dict(name = 'sval')
wthr_col_dtypes = mk_dtype_dict(name = 'wthr')
mgmt_col_dtypes = mk_dtype_dict(name = 'mgmt')

# Sanitization: Alter entries

## Static values (within season)

### Datetime containing columns

In [ ]:
['43681', 
'43682', 
'43684', 
'43683']

sval.loc[sval.Anthesis_Unit_Datetime == ['43681', 
'43682', 
'43684', 
'43683'][0] , :]
find_unconvertable_datetimes(df_col = sval.Silking_Unit_Datetime, pattern='%m/%d/%y', index=False)

['43681',
 '7/2/2019',
 '43685',
 '7/11/2019',
 '7/5/2019',
 '7/14/2019',
 '7/15/2019',
 '7/7/2019',
 '7/13/2019',
 '7/12/2019',
 '7/8/2019',
 '7/3/2019',
 '7/1/2019',
 '7/10/2019',
 '43684',
 '7/6/2019',
 '7/4/2019',
 '43686',
 '6/30/2019',
 '7/9/2019']

In [ ]:
sval = sanitize_col(
    df = sval, 
    col = 'Anthesis_Unit_Datetime', 
    simple_renames= {'43681': '8/4/2019', 
                    '43682': '8/5/2019', 
                    '43684': '8/7/2019', 
                    '43683': '8/6/2019'}, 
    split_renames= {})

sval = sanitize_col(
    df = sval, 
    col = 'Silking_Unit_Datetime', 
    simple_renames= {'43681': '8/4/2019',
                    '43686': '8/9/2019',
                    '43684': '8/7/2019',
                    '43685': '8/8/2019',}, 
    split_renames= {})

In [ ]:
# convert the date cols into datetime. Lean on pd.to_datetime() to infer the format, assume that each site uses the same format.

for e in ['Planted_Unit_Datetime', 
          'Harvested_Unit_Datetime', 
          'Anthesis_Unit_Datetime', 
          'Silking_Unit_Datetime', 
          'Recieved_Date_Unit_Datetime', 
          'Processed_Date_Unit_Datetime', 
          'Weather_Station_Placed_Unit_Datetime', 
          'Weather_Station_Removed_Unit_Datetime'
    ]:
# find_unconvertable_datetimes(df_col=sval[e], pattern='%Y-%m-%d %H:%M', index=False)
    print(e)
    sval['Datetime_Temp'] = pd.to_datetime(np.nan)

    for code in list(sval.Experiment_Code.drop_duplicates()):
    # code = list(sval.Experiment_Code.drop_duplicates())[0]
        sval.loc[sval.Experiment_Code == code, 'Datetime_Temp'
                 ] = pd.to_datetime(sval.loc[sval.Experiment_Code == code, e])

    sval.loc[:, e] = sval.loc[:, 'Datetime_Temp'] 

sval = sval.drop(columns = 'Datetime_Temp')

Planted_Unit_Datetime
Harvested_Unit_Datetime
Anthesis_Unit_Datetime
Silking_Unit_Datetime
Recieved_Date_Unit_Datetime
Processed_Date_Unit_Datetime
Weather_Station_Placed_Unit_Datetime
Weather_Station_Removed_Unit_Datetime

In [ ]:
# -> floats

sval = sanitize_col(
    df = sval, 
    col = 'Pounds_Needed_Soil_Moisture', 
    simple_renames= {'3 to 4':'3.5',
                     '56 lb/bu and adjusted to 15.5% moisture': '56'}, 
    split_renames= {})

In [ ]:
# convert types
for e in ['Alley_Length_Unit_Inches', 'Row_Spacing_Unit_Inches', 'Pounds_Needed_Soil_Moisture',
         'Anthesis_Unit_Days', 'Silking_Unit_Days', 'Kernels_Per_Plot']:
    err_list = find_unconvertable_numerics(df_col = sval[e], index = False)
    if err_list != []:
        print(e)
        print(err_list)
    else:
        sval[e] = sval[e].astype('float')

In [ ]:
# to bool
sval = sanitize_col(
    df = sval, 
    col = 'Discarded', 
    simple_renames= {
        'Yes':'True',
        'yes':'True'}, 
    split_renames= {})

# set missing to false
sval.loc[sval.Discarded.isna(), 'Discarded'] = 'False'
sval.Discarded = sval.Discarded.map({'True': True, 'False': False})

### Simple Columns

In [ ]:
# to bool
sval['phno'] = sval['phno'].astype('bool')
sval['soil'] = sval['soil'].astype('bool')
sval['meta'] = sval['meta'].astype('bool')

# to string
sval = cols_astype_string(
    df = sval, 
    col_list = [key for key in sval_col_dtypes.keys() if sval_col_dtypes[key] == 'string'])

sval.Year = year_string
sval.Year = sval.Year.astype('string')

### Check Success

In [ ]:
checkpoint = check_df_dtype_expectations(df = sval, dtype_dct = sval_col_dtypes)

if sum(checkpoint.Pass)/checkpoint.shape[0] == 1:
    pass
else:
    print(checkpoint.loc[~checkpoint.Pass, ]) 
    print()

124/124 Columns pass.

## Weather

### Datetime

In [ ]:
# wthr.loc[:, ['Year',
# 'Month',
# 'Day',
# 'Time']].info()

In [ ]:
# # instead of writing regexes to figure out the mose likely format for each datetime, we assume each experiment will be consistent withing that experiment
# # and let pd figure it out.
# # wthr['Datetime_Temp'] = pd.to_datetime(np.nan)

# # for code in list(wthr.loc[:, 'Experiment_Code'].drop_duplicates()):
# #     wthr.loc[wthr.Experiment_Code == code, 'Datetime_Temp'] = pd.to_datetime(wthr.loc[wthr.Experiment_Code == code, 'Datetime'], errors='coerce')


# # ... or we use the fields in the df to make a consistent format
# wthr = cols_astype_string(
#     df = wthr, 
#     col_list = ['Year', 'Month', 'Day', 'Time'])

# wthr = sanitize_col(
#     df = wthr,
#     col = 'Time', 
#     simple_renames= {'24:00:00': '00:00:00'}, # this could be day + 24 h instead of a miscoded day + 0 h
#     split_renames= {})

wthr.Month = wthr.Month.astype('string')
wthr.Day = wthr.Day.astype('string')

wthr['Datetime_Temp'] = wthr['Year']+'-'+wthr['Month']+'-'+wthr['Day']+' '+wthr['Time']

# convert types
err_list = find_unconvertable_datetimes(df_col=wthr['Datetime_Temp'], pattern='%Y-%m-%d %H:%M', index=False)
if err_list != []:
    print(err_list)
else:
    wthr.Datetime_Temp = pd.to_datetime(pd.Series(wthr.Datetime_Temp), errors='coerce')
    wthr.Datetime = wthr.Datetime_Temp
    wthr = wthr.drop(columns= 'Datetime_Temp')

### Wind_Gust_Unit_m_per_s

In [ ]:
wthr = sanitize_col(
    df = wthr,
    col = 'Wind_Gust_Unit_m_per_s', 
    simple_renames= {'#REF!': np.nan}, # this could be day + 24 h instead of a miscoded day + 0 h
    split_renames= {})

# convert types
# err_list = find_unconvertable_numerics(wthr.Wind_Gust_Unit_m_per_s)
# if err_list != []:
#     print(err_list)
# else:
wthr.Wind_Gust_Unit_m_per_s = wthr.Wind_Gust_Unit_m_per_s.astype(float)

### Simple Columns

In [ ]:
# to string
wthr = cols_astype_string(
    df = wthr, 
    col_list = [key for key in wthr_col_dtypes.keys() if wthr_col_dtypes[key] == 'string'])

wthr.Year = year_string
wthr.Year = wthr.Year.astype('string')

### Check Success

In [ ]:
checkpoint = check_df_dtype_expectations(df = wthr, dtype_dct = wthr_col_dtypes)

if sum(checkpoint.Pass)/checkpoint.shape[0] == 1:
    pass
else:
    print(checkpoint.loc[~checkpoint.Pass, ])

24/24 Columns pass.

## Management

### Date_Datetime

In [ ]:
# mgmt = relocate_to_Imputation_Notes(df = mgmt, col = 'Date_Datetime', val_list= ['Before Planting'])

In [ ]:
# mgmt = sanitize_col(
#     df = mgmt, 
#     col = 'Date_Datetime', 
#     simple_renames= {}, 
#     split_renames= {'6/24/21 for all but plots in pass 2; 7/5/21 for pass 2' : [
#                         '6/24/21 for all but plots in pass 2', '7/5/21 for pass 2']})

In [ ]:
# # make corrections too one-off to fix with a funciton. 
# mask = ((mgmt.Date_Datetime == '6/24/21 for all but plots in pass 2') & (mgmt.Pass != 2.))
# mgmt.loc[mask, 'Date_Datetime'] = '6/24/21'
# # since we split without specifiying pass we need to remove any rows that still have the search string.
# # and overwrite the df
# mask = (mgmt.Date_Datetime == '6/24/21 for all but plots in pass 2')
# mgmt = mgmt.loc[~mask, :].copy()

# mask = ((mgmt.Date_Datetime == '7/5/21 for pass 2') & (mgmt.Pass == 2.))
# mgmt.loc[mask, 'Date_Datetime'] = '7/5/21'
# mask = (mgmt.Date_Datetime == '7/5/21 for pass 2')
# mgmt = mgmt.loc[~mask, :].copy()

In [ ]:
# incompatable values are of the form:
# 64        Thursday, May 9, 2019
# 65        Monday, June 10, 2019
# 66        Thursday, May 9, 2019
# so we rename each before transformation
err = find_unconvertable_datetimes(df_col=mgmt.Date_Datetime, pattern='%m/%d/%y', index=False)
mgmt.Date_Datetime = mgmt.Date_Datetime.map( dict(zip(err, pd.to_datetime(err) )) )

In [ ]:
# convert types
err_list = find_unconvertable_datetimes(df_col=mgmt.Date_Datetime, pattern='%m/%d/%y', index=False)
if err_list != []:
    print(err_list)
else:
    mgmt.Date_Datetime = pd.to_datetime(pd.Series(mgmt.Date_Datetime), format = '%m/%d/%y', errors='coerce')

### Amount_Per_Acre

In [ ]:
# mgmt.loc[find_unconvertable_numerics(df_col = mgmt['Amount_Per_Acre'], index = True), ]

In [ ]:
mgmt = sanitize_col(
    df = mgmt, 
    col = 'Amount_Per_Acre', 
    simple_renames= {'100 of N': '100 (N)'}, 
    split_renames= {'30-26-0-6S': ['30 (N)', '26 (P)', '6 (S)'],
                    '21/48': ['21 (Outlook)', '48 (Infantry)'],
                    '3/32/2.5%/1%': ['3 (Calisto)', '32 (Atrazine)', '0.025 (AMS)', '0.01 (COC)']
                    })

In [ ]:
mgmt = safe_create_col(mgmt, "Ingredient")
mask = mgmt.Ingredient.isna()
mgmt.loc[mask, 'Ingredient'] = mgmt.loc[mask, 'Product']

# assume each string is formated as 'val (key)'. `sanitize_col` should be used to enforce this.
for e in ['26 (P)', '32 (Atrazine)', '0.01 (COC)', '48 (Infantry)', '3 (Calisto)', '100 (N)', '0.025 (AMS)', '6 (S)', '30 (N)', '21 (Outlook)']:
    val = re.findall('^\d+[.]*\d*', e)[0]
    key = re.findall('\(.+\)',      e)[0].replace('(', '').replace(')', '')
    
    mask = (mgmt['Amount_Per_Acre'] == e)
    mgmt.loc[mask, 'Ingredient'] = key
    mgmt.loc[mask, 'Amount_Per_Acre'] = val

In [ ]:
# convert types
err_list = find_unconvertable_numerics(df_col = mgmt['Amount_Per_Acre'], index = False)
if err_list != []:
    print(err_list)
else:
    mgmt.Amount_Per_Acre = pd.to_numeric(mgmt.Amount_Per_Acre, errors='coerce')

### Ingredient
This is to be the cleaned up version of the "Product" column

In [ ]:
# list(mgmt.loc[:, 'Ingredient'].drop_duplicates())

### Simple Columns

In [ ]:
# to bool
mgmt['mgmt'] = mgmt['mgmt'].astype('bool')

# to string
for e in [ee for ee in ['Application', 'Product', 'Ingredient', 'Unit', 'Imputation_Notes'] if ee in mgmt.columns]:
    mgmt[e] = mgmt[e].astype('string')
    

mgmt.Year = year_string
mgmt.Year = mgmt.Year.astype('string')

### Check Success

In [ ]:
check_df_dtype_expectations(df = mgmt, dtype_dct = mgmt_col_dtypes)

12/12 Columns pass.

             Column           dtype  Expected_dtype  Pass
0              Year          string          string  True
1   Experiment_Code          string          string  True
2             Range          string          string  True
3              Pass          string          string  True
4              Plot          string          string  True
5       Application          string          string  True
6           Product          string          string  True
7     Date_Datetime  datetime64[ns]  datetime64[ns]  True
8   Amount_Per_Acre         float64         float64  True
9              Unit          string          string  True
10             mgmt            bool            bool  True
11       Ingredient          string          string  True

# Publish

In [ ]:
write_out_pkl(obj = sval, path = './data/interim/'+year_string+'sval.pickle')
write_out_pkl(obj = wthr, path = './data/interim/'+year_string+'wthr.pickle')
write_out_pkl(obj = mgmt, path = './data/interim/'+year_string+'mgmt.pickle')